%h1 Listing pages

%table.table
  %thead
    %tr
      %th Title
      %th Body
      %th Slug
      %th

  %tbody
    - @pages.each do |page|
      %tr
        %td= page.title
        %td= page.body
        %td
          %code= url_for_page(page)
        %td= link_to 'Show', admin_page_path(page)
        %td= link_to 'Edit', edit_admin_page_path(page), data: { 'no-turbolink'=>true}
        %td= link_to 'Destroy', admin_page_path(page), :method => :delete, :data => { :confirm => 'Are you sure?' }

%br
%p
  = link_to 'New Page', new_admin_page_path, class: "btn btn-primary", data: { 'no-turbolink'=>true}
  -Type.all.each do |type|
    = link_to "New #{type.name}", new_admin_page_path(type: type.name), class: "btn btn-default", data: { 'no-turbolink'=>true}
