= form_for ["admin", @menu] do |f|
  %p
    = f.text_field :name

  %h3 Menu items
  = f.fields_for :menu_items do |c|
    %p
      = c.text_field :title, placeholder: "Title"
      = c.text_field :url, placeholder: "Url"
      = c.hidden_field :id

  %p
    = f.submit